<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <div class="item-wrap">
        <%= image_tag(movie.image.url(:medium) , class: 'img-responsive' )%>
        <div class="item-caption">
          <p class='item-title'><%= movie.title%> <span class='pull-right item-rate'><i class='fa fa-star'></i>2.5</span></p>
          <%= link_to movie do %>
            <i class='fa fa-comment item-control'></i>
          <% end %>
          <% if current_user.present? and current_user.id == movie.user_id %>
            <%= link_to edit_movie_path(movie) do %>
              <i class='fa fa-pencil item-control'></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
