/*
 * To get under bootstrap's fixed navbar
 */
body {
  padding-top: 70px;
}
.centered {
  margin: 0 auto;
  text-align: center;
}
.form-centered {
  @extend .centered;
  width: 50%;
}
.custom-link{
  display:inline-block;
  margin-top: 10px;
}
