<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="#">Review.mov</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <!-- main links -->
    <ul class="nav navbar-nav">
      <li class="active">
        <%=link_to 'Movies', :movies %>
      </li>
    </ul>
    <!-- /main links -->
    <!-- settings dropdown -->
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class='fa fa-gear'></i></a>
        <ul class="dropdown-menu" role="menu">
          <% if user_signed_in? %>
            <li>
              <%= link_to current_user.email , :edit_user_registration %>
            </li>
          <% else %>
            <li>
              <%= link_to 'Sign in' , :new_user_session %>
            </li>
          <% end %>
          <% if user_signed_in? %>
            <li class="divider"></li>
            <li>
              <%= link_to :destroy_user_session , method: :delete do %>
                <i class = 'fa fa-power-off'></i>&nbsp;&nbsp;&nbsp;&nbsp;Sign out
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
    <!-- /settings dropdown -->
    <!-- search form -->
    <form class="navbar-form navbar-right" action="#" role="search">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
          <span class="input-group-btn">
            <button type="submit" class="btn">
              <span class="fui-search"></span>
            </button>
          </span>
        </div>
      </div>
      <!-- /search form -->
    </form>
  </div>
  <!-- /.navbar-collapse -->
</nav>
<!-- /navbar -->
